{% extends 'base.html' %}

{% block title %}Pago{% endblock %}

{% block content %}

<div class="d-flex justify-content-center">

    <div class="card shadow-sm p-4 w-100" style="max-width: 500px;">

        <h2 class="text-center mb-4 fw-bold">Pago</h2>

        <form method="post">
            {% csrf_token %}

            <!-- Nombre tarjeta -->
            <div class="mb-3">
                <label class="form-label">Nombre del titular de la tarjeta</label>
                <input type="text" name="name" class="form-control" required>
            </div>

            <!-- Número tarjeta -->
            <div class="mb-3">
                <label class="form-label">Número de tarjeta</label>
                <input type="text" name="card" class="form-control" required>
            </div>

            <!-- Fecha + CVV -->
            <div class="row">

                <div class="col-md-6 mb-3">
                    <label class="form-label">Caducidad</label>
                    <input type="text" name="expiry" class="form-control" placeholder="MM/AA" required>
                </div>

                <div class="col-md-6 mb-3">
                    <label class="form-label">CVV</label>
                    <input type="text" name="cvv" class="form-control" required>
                </div>

            </div>

            <!-- Botón -->
            <button type="submit" class="btn btn-primary w-100">
                Pagar ahora
            </button>

        </form>

    </div>

</div>

{% endblock %}